body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

.field-validation-error {
    color: red;
}

.input-validation-error {
    border: 2px solid red;
}

#showcase {
    background: url('../Images/banner.jpg');
    /*background-size: cover;*/
    min-height: 600px;
    position: relative;
    background-attachment: fixed;
    width: 100%;
    overflow-x: hidden;
}

.big-checkbox {
    width: 20px;
    height: 20px;
}

.navbar {
    border-bottom: #a30000 3px solid;
}

.welcome-border {
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.img-front {
    height: 250px;
    width: 250px;
    position: relative;
    margin: 0 auto;
}

.img-description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0, 0.72);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
}